<%= turbo_frame_tag "movies_list" do %>
  <% if @movies.present? %>
    <% @movies.each do |movie| %>
      <div>
        <h3><%= movie.name %></h3>
        <% if movie.image_url =~ URI::regexp(%w[http https]) %>
          <%= image_tag(movie.image_url, alt: movie.name) %>
        <% else %>
          <p><%= movie.image_url %></p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>映画が見つかりませんでした。</p>
  <% end %>
<% end %>
